# Jira Creds
JIRA_URL=https://cafb-hungerbangers.atlassian.net/
JIRA_EMAIL=
PROJECT_KEY=
JIRA_API_TOKEN=

# Database Config
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=jira_rag
POSTGRES_USER=postgres
POSTGRES_PASSWORD=


# LLM Creds
OPENAI_API_KEY=
GOOGLE_API_KEY=
